doctype html
// *** Modified Material Design Lite's Dashboard Theme ***
// *** (Got rid of Sidebar component)                  ***
// *** Material Design Lite is licesed as follows :    ***
//
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  https://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Educational Web Application to Build Web Sites!')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    title WebBlockly

    // Material Design Lite's original dependencies
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
    link(rel='stylesheet', href='https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

    // Our Team's custom styling rule
    link(rel='stylesheet', href='stylesheets/style.css')

    // CodeMirror instance dependency
    link(rel='stylesheet', href='codemirror/codemirror.css')

    // Our code's dependency on jQuery library
    script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')

    // Blockly's original dependencies
    script(src='blockly/blockly_compressed.js')
    script(src='blockly/blocks_compressed.js')
    script(src='blockly/javascript_compressed.js')
    script(src='blockly/msg/js/en.js')

    // CodeMirror's Original dependencies
    // (for HTML, CSS syntax Highlighting, autocompletion, auto close tag / brackets
    script(src='codemirror/codemirror.js')
    script(src='codemirror/mode/xml/xml.js')
    script(src='codemirror/mode/htmlmixed/htmlmixed.js')
    script(src='codemirror/mode/css/css.js')
    script(src='codemirror/addon/runmode/colorize.js')
    script(src='codemirror/addon/hint/show-hint.js')
    script(src='codemirror/addon/hint/html-hint.js')
    script(src='codemirror/addon/hint/xml-hint.js')
    script(src='codemirror/addon/hint/css-hint.js')
    script(src='codemirror/addon/fold/xml-fold.js')
    script(src='codemirror/addon/edit/closetag.js')
    script(src='codemirror/addon/edit/closebrackets.js')
    script(src='codemirror/addon/edit/closetag.js')


  body
    .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
      header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600.web-scratch-main
        .mdl-layout__header-row
          span.mdl-layout-title Weblockly
          .mdl-layout-spacer
          a(href='/server')
              button.mdl-button.mdl-js-button.mdl-button--raised Backend Demo
          button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
            i.material-icons more_vert
          ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect2.mdl-menu--bottom-right
            li.mdl-menu__item About
            li.mdl-menu__item Contact
      main.mdl-layout__content.mdl-color--grey-100.web-scratch-main#editorContainer
          fileldset.editor-column.column-left
              .editor-row.row-top
                  textarea.script-editor#html
              .editor-row.row-bottom
                  .script-editor#blocklyDiv(style="border-width: 1px;")
                  #modeChangeReminder(style='display: none')
                      span Global
          fieldset.editor-column.column-right
              .editor-row.row-top
                  textarea.script-editor#css
              .editor-row.row-bottom
                  // script-editor 클래스를 부여한 것은 크기를 통일하기 위함
                  iframe.script-editor#rendered
                  .play-button ▶

    // Material Design Lite's original dependency
    script(src='https://code.getmdl.io/1.2.1/material.min.js')

    // Weblockly's dependenies
    // These scripts are written by our team
    script(src='javascripts/view/index.js')
    script(src='javascripts/blockly/playground.js')
    script(src='javascripts/blockly/get_dom.js')
    script(src='javascripts/blockly/workspaceManager.js')
    script(src='javascripts/blockly/blocks/front.js')
    script(src='javascripts/blockly/generators/front.js')
