doctype html
//
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  https://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Educational Web Application to Build Web Sites!')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    title WebBlockly
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
    link(rel='stylesheet', href='https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    // 프로젝트를 위한 CSS (Material Design Lite의 내용도 포함되어 있음)
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='codemirror/codemirror.css')

    style.


    // Javascript Import 태그들
    // jQuery, Blockly 자체, 그리고 Blockly의 Block들, Blockly의 메세지들 정의
    script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
    script(src='blockly/blockly_compressed.js')
    script(src='blockly/blocks_compressed.js')
    script(src='blockly/javascript_compressed.js')
    script(src='blockly/msg/js/en.js')
    script(src='codemirror/codemirror.js')
    script(src='codemirror/mode/xml/xml.js')
    script(src='codemirror/mode/htmlmixed/htmlmixed.js')
    script(src='codemirror/mode/css/css.js')
    script(src='codemirror/addon/colorize.js')

  body
    .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
      header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600.web-scratch-main
        .mdl-layout__header-row
          span.mdl-layout-title Weblocky
          .mdl-layout-spacer
          button#btnGlobal Global
          button#btnId ID
          button#btnClass Class
          button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
            i.material-icons more_vert
          ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect2.mdl-menu--bottom-right
            li.mdl-menu__item About
            li.mdl-menu__item Contact
      main.mdl-layout__content.mdl-color--grey-100.web-scratch-main#editorContainer
          fileldset.editor-column.column-left
              .editor-row.row-top
                  textarea.script-editor#html
              .editor-row.row-bottom
                  #tabGroup
                      #JSGlobal.tab(onclick="") Global
                      #JSClass.tab(onclick="") Class
                      #JSId.tab(onclick="") ID
                  .script-editor#blocklyDiv(style="border-width: 1px;")
                  #modeChangeReminder(style='display: none')
                      span Global
          fieldset.editor-column.column-right
              .editor-row.row-top
                  textarea.script-editor#css
              .editor-row.row-bottom
                  // script-editor 클래스를 부여한 것은 크기를 통일하기 위함
                  iframe.script-editor#rendered
                  .play-button ▶
      // Toolbox의 구조 정의. Blockly 공식 사이트에 있는 샘플의 XML을 가져왔음
      // 현재는 여기에 blocks_compressed.js를 import해주면 그 안에 있는 기본 블럭들
      // 내용이 들어올 것으로 예상했지만 그 부분이 아직 안 됨
      xml#toolbox(style='display:none')
        category(name='Input')
            block(type='input_value')
                value(name='TYPE')
                shadow(type='type_null')
            block(type='input_statement')
                value(name='TYPE')
                shadow(type='type_null')
            block(type='input_dummy')
        category(name='Logic')
            block(type='controls_if')
        category(name='Loops')
            block(type='controls_repeat_ext')
            block(type='controls_repeat')
            block(type='controls_whileUntil')
        category(name='Time')
            block(type='set_time_out')
        category(name='Math')
            block(type='math_number')
            block(type='math_arithmetic')
            block(type='math_single')
            block(type='math_trig')
            block(type='math_constant')
            block(type='math_number_property')
            block(type='math_change')
            block(type='math_round')
            block(type='math_on_list')
            block(type='math_modulo')
            block(type='math_constrain')
            block(type='math_random_int')
            block(type='math_random_float')
        category(name='Field')
            block(type='field_static')
            block(type='field_input')
            block(type='field_number')
            block(type='field_angle')
            block(type='field_dropdown')
            block(type='field_checkbox')
            block(type='field_colour')
            block(type='field_variable')
            block(type='field_image')
        category(name='Type')
            block(type='type_group')
            block(type='type_null')
            block(type='type_boolean')
            block(type='type_number')
            block(type='type_string')
            block(type='type_list')
            block(type='type_other')
        category(name='Output')
            block(type='alert')
        category#colourCategory(name='Colour')
            block(type='colour_hue')
                mutation(colour='20')
                field(name='HUE') 20
            block(type='colour_hue')
                mutation(colour='65')
                field(name='HUE') 65
            block(type='colour_hue')
                mutation(colour='120')
                field(name='HUE') 120
            block(type='colour_hue')
                mutation(colour='160')
                field(name='HUE') 160
            block(type='colour_hue')
                mutation(colour='210')
                field(name='HUE') 210
            block(type='colour_hue')
                mutation(colour='230')
                field(name='HUE') 230
            block(type='colour_hue')
                mutation(colour='260')
                field(name='HUE') 260
            block(type='colour_hue')
                mutation(colour='290')
                field(name='HUE') 290
            block(type='colour_hue')
                mutation(colour='330')
                field(name='HUE') 330
        sep
        category(name='Variable')
            block(type='variables_get')
            block(type='variables_set')

    script(src='https://code.getmdl.io/1.2.1/material.min.js')
    script(src='javascripts/view/index.js')
    script(src='javascripts/playground.js')
    script(src='javascripts/get_dom.js')
    script(src='javascripts/workspaceManager.js')
    script(src='javascripts/Blocks.js')
    script(src='javascripts/Generators.js')
